.signup {
  height: 200px;
  background: #f5f7fa;
}
h2 {margin-top: 20px;
  text-align: center;
}

.pullout__btn--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    max-width: 320px;
    padding: 13px 24px;
    margin-bottom: 0;
    background: #0070ba;
    font-size: 15px;
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    border: none;
    margin-top: 30px;
}

p{
    text-align: center;
    margin: 20px;
}
strong{
    color: #0070ba;
}