<div class="footer">
  <p>
    All trademarks, service marks, trade names and logos appearing on the site
    are the property of the respective owners.
  </p>
  <p class="icons">
    Stay Connected</p>
    <div class="images">
        <img
      src="https://icons-for-free.com/download-icon-fb+icon-1320183899414660008_512.png"
      alt="fb"
      class="img"
    />
    <img
      src="https://icons-for-free.com/download-icon-twitter+icon-1320183903778758955_512.png"
      alt="twitter"
      class="img"
    />
    <img
      src="https://icons-for-free.com/iconfiles/png/512/youtube+icon-1320193919289867127.png"
      alt="youtube"
      class="img"
    />
    <img
      src="https://icons-for-free.com/iconfiles/png/512/instagram+new+design+round+social+media+icon-1320184016830559247.png"
      alt="instagram"
      class="img"
    />
    </div>
    <div class="li">
    <strong class="links" >Help</strong>
    <strong class="links" >Contact</strong>
    <strong class="links" >Fess</strong>
    <strong class="links" >Security</strong>
    <strong class="links" >Shop</strong>
    <strong class="links" >Refer and Earn</strong></div>
    <h5>1999-2020</h5>
    <p>PayPal Services in India are provided by PayPal Payments Private Limited (CIN U74990MH2009PTC194653). Users are advised to read the <strong>terms and conditions </strong> carefully</p>
  
</div>
