<div class="partners">
  <section class="partnerBlock">
    <h1>Pay with PayPal at leading Indian brands. Safe Hai.</h1>
    <div class="row">
      <div class="column">
        <img
          src="https://www.paypalobjects.com/marketing/web/in/online-shopping/logos/swiggy-logo.png"
          alt="swiggy"
          class="image-panel__image"
        />
        <p>Order food at home</p>
      </div>
      <div class="column">
        <img
          src="https://www.paypalobjects.com/marketing/web/in/online-shopping/logos/logo-one-mg.jpg"
          alt="1mg"
          class="image-panel__image"
        />
        <p>Buy Medicines from India's <br />trusted medicine store​</p>
      </div>
      <div class="column">
        <img
          src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/shared/online-shopping/optimized/medlife-logo.png"
          alt="medlife"
          class="image-panel__image"
        />
        <p>
          India's Largest Online <br />
          Pharmacy​
        </p>
      </div>
      <div class="column">
        <img
          src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/shared/online-shopping/optimized/netmeds-226x130.png"
          alt="netmeds"
          class="image-panel__image"
        />
        <p>
          Buy Medicines online, fast<br />
          delivery​
        </p>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <img
          src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/IN/logos/pharm-easy.png"
          alt="pharm-easy"
          class="image-panel__image"
        />
        <p>Buy Medicines online​</p>
      </div>
      <div class="column">
        <img
          src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/IN/optimized/logo/dunzo-logo.png"
          alt="dunzo"
          class="image-panel__image"
        />
        <p>
          Get free online delivery for<br />
          food, groceries, medicines​
        </p>
      </div>
      <div class="column">
        <img
          src="https://www.paypalobjects.com/marketing/web/in/online-shopping/logos/big-basket-logo.png"
          alt="bigbasket"
          class="image-panel__image"
        />
        <p>
          Supermarket delivered to<br />
          your doorstep​
        </p>
      </div>
      <div class="column">
        <img
          src="https://www.paypalobjects.com/marketing/web/in/online-shopping/logos/tatasky-logo.png"
          alt="TataSky"
          class="image-panel__image"
        />
        <p>Recharge your TataSky <br>account now</p>
      </div>
    </div>
  </section>

  <!-- 
<section class="paypalWorksBlock">
    <article>
      <div class="leftBlock"><app-left-block></app-left-block></div>
      <div class="rightBlock"><app-right-block></app-right-block></div>
    </article>
  </section>
   -->
</div>
