<div style="background: white">
  <section class="panelsBlock">
    <h1>The safer, easier way to pay – in India and around the world.</h1>

    <div class="row">
      <div class="column">
        <img
          src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/IN/consumer-activation/protection.svg"
          alt="180-Day Buyer Protection"
          class="icon-panel__image"
        />
        <h2>180-Day Buyer Protection</h2>
        <p>
          Item not as described? You have <br />
          our first-of-its-kind 180-day<br />
          refund window to get a full refund<br />
          on your purchase.
        </p>
      </div>
      <div class="column">
        <img
          src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/IN/home/one-account-india-abroad.svg"
          alt="One Account for India and Abroad"
          class="icon-panel__image"
        />
        <h2>One Account for India and Abroad</h2>
        <p>
          Shop locally and globally with just <br />
          one PayPal account.
        </p>
      </div>
      <div class="column">
        <img
          src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/india/optimised/in-safe-hai/icons/mail-paypalme-pink.svg"
          alt="Skip the Logins"
          class="icon-panel__image"
        />
        <h2>Skip the Logins</h2>
        <p>
          SCheck out faster and easier with <br />One Touch™ and you'll never
          need<br />
          to enter your login details again.
        </p>
      </div>
      <div class="column">
        <img
          src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/india/optimised/in-safe-hai/icons/SecureTech-pink.svg"
          alt="Worry-free Shopping"
          class="icon-panel__image"
        />
        <h2>Worry-free Shopping</h2>
        <p>
          Shop with ease and confidence.<br />
          Your financial details are never <br />shared, not even with the
          seller.
        </p>
      </div>
    </div>
  </section>
</div>
