<div style="background-color: #f5f7fa">
  <section class="videoBlock">
    <article>
      <div class="leftBlock">
        <h1>See how PayPal works.</h1>
        <p>
          Whether you're shopping or selling with PayPal, we make it <br />
          faster, safer and easier for everyone to shop or sell globally <br />
          with confidence.
        </p>
      </div>
      <div class="rightBlock html5-video-player">
        <video
          tabindex="-1"
          class="video-stream html5-main-video"
          webkit-playsinline=""
          playsinline=""
          controlslist="nodownload"
          style="width: 522px; height: 294px; left: 0px; top: -294px"
          src="https://www.youtube-nocookie.com/c6a454f1-8d63-4f7c-a2c2-27d079f5319d"
        ></video>
      </div>
    </article>
  </section>
</div>
